@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
  background: linear-gradient(#22254b, rgba(21, 7, 9, 1));
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.movie {
  position: relative;
  width: 16rem;
  background-color: #373b68;
  border-radius: 12px;
  box-shadow: 6px 6px 6px rgba(21, 7, 9, 0.1);
  overflow: hidden;
}
.movie img {
  max-width: 100%;
  max-height: max-content;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 1650px;
}
.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 1rem;
}
.movie-info :last-child {
  margin-top: 0.6rem;
}
.movie-details {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(250, 250, 250, 0.8);
  color: #333;
  padding: 1rem;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}
.movie:hover .movie-details {
  transform: translateY(0%);
}
/* SEARCH COMPONENT */
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}
.search input {
  width: 100%;
  height: 46px;
  font-size: 1.6rem;
  background-color: #fff;
  border: 1px solid #373b68;
  border-radius: 60px;
}
.search input:focus {
  outline: none;
}
/* BUTTON */
.btn {
  display: block;
  padding: 1rem;
  width: 45%;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 1px solid #373b68;
  border-radius: 3px;
}
.btn:hover {
  background-color: #ccc;
  opacity: 0.7;
}
